<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${pokemon.name} | ShinyDex`}) %>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <h1 class="pageTitle">Pokemon Details</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/pokemon">Pokemon Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/review">Reviews</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid bkgrd">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="<%= pokemon.photo %>">
            </div>
            <div class="text-box overflow-scroll text-center mx-auto my-auto col-6">
                <div class="pkmn-details">
                    <h1 class="display-4"><%= pokemon.name %></h1>
                    <h4 class="mx-auto my-auto">Type</h4>
                    <div class="text-row">
                        <% for(let i = 0; i < pokemon.type.length; i++) { %>
                        <p class="mx-auto"><%= pokemon.type[i] %></p>
                        <% } %>
                    </div>
                    <h4 class="mx-auto my-auto">Ability</h4> 
                    <div class="text-row">
                        <p class="mx-auto"><%= pokemon.ability %></p>
                    </div>
                    <h4 class="mx-auto my-auto">Nature</h4>
                    <div class="text-row">
                        <p class="mx-auto"><%= pokemon.nature %></p>
                    </div>
                    <h4 class="mx-auto my-auto">Region Found</h4>
                    <div class="text-row">
                        <p class="mx-auto"><%= pokemon.region %></p>
                    </div> 
                    <h4 class="mx-auto my-auto">Base HP</h4>
                    <div class="text-row">
                        <p class="mx-auto"><%= pokemon.baseHP %></p>
                    </div>
                    <h4 class="mx-auto my-auto">Base Attack</h4>
                    <div class="text-row">
                        <p class="mx-auto"><%= pokemon.baseATT %></p>
                    </div>
                    <h4 class="mx-auto my-auto">Base Defense</h4>
                    <div class="text-row">
                        <p class="mx-auto"><%= pokemon.baseDEF %></p>
                    </div>
                    <h4 class="mx-auto my-auto">Base Special Attack</h4>
                    <div class="text-row">
                        <p class="mx-auto"><%= pokemon.baseSPATT %></p>
                    </div>
                    <h4 class="mx-auto my-auto">Base Special Defense</h4>
                    <div class="text-row">
                        <p class="mx-auto"><%= pokemon.baseSPDEF %></p>
                    </div>
                    <h4 class="mx-auto my-auto">Base Speed</h4> 
                    <div class="text-row">
                        <p class="mx-auto"><%= pokemon.baseSPD %></p>
                    </div>
                </div>
                <h1 class="display-4">Reviews</h1>
                <% for(let i = 0; i < pokemon.reviews.length; i++) { %>
                <h4 class="mx-auto my-auto">Username</h4>
                <div class="text-row">
                    <p class="mx-auto"><%= pokemon.reviews[i].username %></p>
                </div>
                <h4 class="mx-auto my-auto">Review Title</h4>
                <div class="text-row">
                    <p class="mx-auto"><%= pokemon.reviews[i].title %></p>
                </div>
                <h4 class="mx-auto my-auto">Comment</h4>
                <div class="text-row">
                    <p class="mx-auto comment"><%= pokemon.reviews[i].comment %></p>
                </div>
                <h4 class="mx-auto my-auto">Date Posted</h4>
                <div class="text-row">
                    <p class="mx-auto comment"><%= pokemon.reviews[i].commentDate %></p>
                </div>
                <% } %>
            </div>
            <div class="container">
                <div class="row">
                    <form class="col-2">
                        <button type="button" class="btn btn-danger"><a class="button-details" href="/pokemon/<%= pokemon._id %>/edit">Edit Pokemon</a></button>
                    </form>
                    <form method="POST" action="/pokemon/<%= pokemon._id %>?_method=DELETE" class="col-2">
                        <button type="submit" value="Delete" class="btn btn-danger">Delete Pokemon</button>
                    </form>
                    <form class="col-2">
                        <button type="button" class="btn btn-danger"><a class="button-details" href="/review/new/<%= pokemon._id %>">Add Review</a></button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <%- include('./partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>